
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // قانون موقت برای فاز توسعه:
    // به هر کاربری که احراز هویت شده باشد، اجازه خواندن و نوشتن کامل می‌دهد.
    // این قانون قبل از راه‌اندازی نهایی برنامه، با قوانین امنیتی دقیق جایگزین خواهد شد.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
